{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <title>Marconi S. de Jesus</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
      body {
        color: rgba(0, 0, 0, 0.750);
        font-size: 1.1rem;
      }
      li.xp-item > h4 {
        margin-bottom: -10px;
        padding: 0;
      }
    </style>
  </head>
  <body>
    {% include 'index/index_profile.html' %}
    {% include 'index/index_experience.html' %}
    {% include 'index/index_projects.html' %}
  </body>
</html>
