<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <title>Sobre mim | Marconi S.</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
      body {
        color: rgba(0, 0, 0, 0.750);
        font-size: 1.1rem;
      }
  </style>
  </head>
  <body>
    <a href="{% url 'index' %}">voltar</a>
    <div style="">
      <iframe 
        style="aspect-ratio: 16/9; width: 100%;"
        src="https://www.youtube.com/embed/vvCK4N8FBuw" 
        title="&quot;O sonho das pessoas não tem fim&quot; @CompiladoPodcast" 
        frameborder="0" 
        allow="
          accelerometer; autoplay; clipboard-write; 
          encrypted-media; gyroscope; picture-in-picture; 
          web-share
        " 
      allowfullscreen></iframe>

      <div style="max-width: 700px; margin: auto;">
        <h1>O que procuro atualmente?</h1>
        <p>
          Para que um dia eu possa me tornar <b>um dos melhores</b>, primeiro eu
          preciso me tornar <b>muito bom</b>. Para isso, estou sempre me desafiando
          e buscando superar meus conhecimentos.
        </p>
        <p>
          Também tenho me esforçado para conhecer tanto profissionais experientes
          quanto novos sonhadores assim como eu.
        </p>
        <p>
          Não hesite em me contactar caso tenha se identificado ou tenha bons
          desafios para mim.
        </p>
        <a href="{% url 'index' %}">voltar</a>
      </div>
    </div>
  </body>
</html>
