<section id="xp" style="max-width: 700px; margin: 0 auto; padding: 10px;">
  <h2 style="text-align: center;">Projetos</h2>
  <div style="
    display: flex; 
    flex-wrap: wrap; 
    max-width: 700px;
    justify-content: space-between;"
  >
    <form method="GET" action="">
      <label for="project-type">tipos de projeto:</label>
      <select id="project-type" name="project-type" value="all">
        <option value="all">todos</option>
        <option value="fun">por diversão</option>
        <option value="back end">back-end</option>
        <option value="back end">ciência da computação</option>
      </select>
      <input type="submit" value="procurar">
    </form>
    {% for project in projects %}
      <div style="margin: 0 auto 30px;">
        <h4 style="margin-bottom: 0px;">{{ project.name }}</h4>

        {% if not project.status %}
          <small>( desativado )</small>
        {% endif %}

      <p style="margin-bottom: 20px;">{{ project.short_description }}</p>

      {% if project.source %} 
        <a style="margin-right: 10px;" href="{{ project.source }}">código</a> 
      {% endif %}

      {% if project.has_detail %}
        <a style="margin-right: 10px;" href="{% url 'about-me' %}">saiba mais</a>
      {% endif %}

      {% if project.live_link %}
        <a style="margin-right: 10px;" href="{% url 'about-me' %}">saiba mais</a>
      {% endif %}
      </div>
    {% endfor %}
    
  </div>
</section>
