<div style="max-width: fit-content; margin: auto; padding: 15px;">
  <small style="color: red; text-align: center; display: block;">
    Não, não há nada de errado com o CSS
  </small>
  <img 
    style="max-width: auto; height: 50vh; margin: auto; display: block;" 
    src="{{ profile.image.url }}"
    alt="
      Um homem utilizando uma camisa preta, fones de ouvido, 
      cabelo cacheado com tamanho médio e sentado numa cadeira. 
      Imagem de perfil
    "
  >
  <h1 style="text-align: center;">{{ profile.name }}</h1>
  <h3 style="text-align: center; max-width: 700px">{{ profile.titles }}</h3>
  <small style="text-align: center; display: block; margin-bottom: 15px;">
    <q>O sonho das pessoas não tem fim</q>
  </small>
  <nav>
    <ul style="
        padding: 0; 
        display: flex; 
        justify-content: space-between;
        flex-wrap: wrap;
        list-style-type: none; 
        max-width: 400px;
        margin: auto;
      "
    >
      {% for link in profile.links.all %}
        <li style="margin-top: 10px">
          <a href="{{ link.url }}" target="_blank">{{ link.name }}</a>
        </li>
      {% endfor %}
    </ul>
  </nav>
  <a style="
      margin: 20px auto 0; 
      max-width: 400px; 
      display: block;
    " 
    href="{% url 'about-me' %}"
  >
    saiba mais sobre mim
  </a>
</div>
