<section id="xp" style="max-width: 700px; margin: 50px auto; padding: 10px;">
    <h2 style="text-align: center;">Experiência Profissional</h2>
    <div>
      <h3>
        <a href="https://strawti.com/" target="_blank">StrawTI</a> 
        <br>
        <small><i>Desenvolvedor Backend Python</i> - desde Julho de 2023</small>
      </h3>
      <p style="text-align: left;">
        Trabalho na criação de novas features e manutenção de uma aplicação web feita
        em Django REST. <br>
        Realizo reuniões de alinhamento com a equipe e com o cliente para cumprir as 
        demandas e contribuir com sugestões para o futuro da aplicação. <br>
        Crio ferramentas para auxiliar em tarefas de rotina. <br>
        Escrevo código de acordo com as boas práticas de desenvolvimento do ecossistema
        Python, utilizo técnicas para tornar a aplicação mais performática assim agregando valor
        ao produto do cliente.
      </p>
      <ul style="list-style-type: none;">
        <li class="xp-item">
          <h4>Python & Django | Django REST Framework</h4>
          <p>
            O backend é feito em Django e expõe uma API REST usando o 
            Django REST.
          </p>
        </li>
        <li class="xp-item">
          <h4>PostgreSQL | PostGIS</h4>
          <p>
            Banco relacional usado no projeto. PostGIS adiciona 
            suporte a features de geolocalização.
          </p>
        </li>
        <li class="xp-item">
          <h4>MongoDB</h4>
          <p>
            Banco de dados de documento usado para criação de pipelines que 
            revelam dados úteis para o cliente.
          </p>
        </li>
        <li class="xp-item">
          <h4>Profiling</h4>
          <p>
            Para controle e redução do uso de recursos do servidor
            são feitas análises para identificação de gargalos e vazamentos
            de memória.
          </p>
        </li>
        <li class="xp-item">
          <h4>Testes</h4>
          <p>
            Criação de testes utilizando a suíte de teste do Django 
            e testes de carga usando Locust.</p>
        </li>
        <li class="xp-item">
          <h4>Integração com serviços de terceiros</h4>
          <p>
            Integração com <i>Firebase</i>, <i>Twilio</i> e <i>AWS</i>.
          </p>
        </li>
        <li class="xp-item">
          <h4>Outras tecnologias usadas</h4>
          <p>
            <i>Heroku</i>, <i>Bash</i>, <i>Git</i>, <i>GitLab</i>, 
            <i>GitHub</i>, <i>Docker</i> e <i>docker-compose</i>
          </p>
        </li>
        <li class="xp-item">
          <h4>Tecnologias da equipe</h4>
          <p>
            O frontend é em Angular usando TypeScript e o mobile é feito em Flutter.
          </p>
        </li>
      </ul>
    </div>
</section>
